@page
@model Istrate_Alexandra_Proiect.Pages.Angajati.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Introducere</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Angajat.NumePrenumeAngajat" class="control-label"></label>
                <input asp-for="Angajat.NumePrenumeAngajat" class="form-control" />
                <span asp-validation-for="Angajat.NumePrenumeAngajat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salveaza" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Angajati/Index">Inapoi la lista angajatilor</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
