@page
@model Istrate_Alexandra_Proiect.Pages.Angajati.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div class="detalii">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Angajat.NumePrenumeAngajat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Angajat.NumePrenumeAngajat)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Angajat.ID">Editare</a> |
    <a asp-page="/Angajati/Index">Inapoi la lista angajatilor</a>
</div>
